.cube {
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
}

.cube::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(attr(data-x), attr(data-y), attr(data-z)) rotateZ(attr(data-rotation));
} 